/*

Developer: Your Name

Table of Contents

HEADER - Site name, logo, main menu

SIDEBAR - Sidebar

MAINCONTENT - Page Specific Styling

FOOTER – Copyright

Color Palette

#FFF5EE - Seashell

#FF8C00 - Dark Orange

#8A360F - Burnt Sienna

#C6E2FF - Sky Blue

#1C86EE - Bright Blue

#0000CD - Royal Blue

*/



/* HEADER & GLOBAL STYLING */
body { 
    background: #000;
    padding-top: 60px; 
}
.banner {
    width: auto;
}
.banner p {
    color: #fff;
}
.logo1 {
    height: 180px;
}
.about-img {
    margin: 0 auto; padding: 2px;
}
article {
    background: #fff;
}
a:active {
    color: #000ADD;
}
a:hover {
    color: #000ADD;
}
a:visited {
    color: #857BB8;
}

h1 {
    color: #DC0000;
    font: 2.5em Impact, Helevetica, sans-serif;
    letter-spacing: 2px;
}
h3 {
    color: #DBC847;
    font: 2em Impact, Helevetica, sans-serif;
    letter-spacing: 3px
}
h4 {
    color: #963C27;
    font: 1.4em Impact, Helevetica, sans-serif;
    letter-spacing: 2px;
    padding-top: .75em;
}
h5 {
    font: 1.2em Impact, Helevetica, sans-serif;
    letter-spacing: 1px;
}
iframe {
    border: none;
    height: 166px;
    width: 100%;
}
iframe.media {
    border: none;
    height: 450px;
    width: 100%;
}

/* SIDEBAR */
aside {
    background: url(../_media/SilverFishScales.png);
}
aside h3 {
    color: #000;
    text-align: center;
    text-shadow: 3px 3px #DBC847;
}
ul.socialicons li a.twitter,
ul.socialicons li a.facebook,
ul.socialicons li a.youtube,
ul.socialicons li a.soundcloud,
ul.socialicons li a.email {
    background: url(../_media/sm_sprites2.png) no-repeat 0 0;
    display: block;
    height: 33px;
    margin:auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
}
ul.socialicons li a.twitter { background-position: 0 -658px; }
ul.socialicons li a.twitter:hover { background-position: -38px -658px; }
ul.socialicons li a.facebook { background-position: 0 -73px; }
ul.socialicons li a.facebook:hover { background-position: -38px -73px; }
ul.socialicons li a.youtube { background-position: 0 -219px; }
ul.socialicons li a.youtube:hover { background-position: -38px -219px; }
ul.socialicons li a.soundcloud { background-position: 0 -1017px; }
ul.socialicons li a.soundcloud:hover { background-position: -38px -1017px; }
ul.socialicons li a.email { background-position: 0 -1623px; }
ul.socialicons li a.email:hover { background-position: -38px -1623px; }
ul.socialicons li a.itunes { background-position: 0 -1837px; }
ul.socialicons li a.itunes:hover { background-position: -38px -1837px; }
div.panel-heading {
    background: #000;
    color: #000;;
    text-align: center;
}



/* DISCOGRAPHY PAGE */
.ib {
    border: .1em dotted #000;
}



/* TOUR PAGE */
ul.tour li {
    list-style:none;
    padding-bottom: .75em;
}
p a, ul.tour a {
    color: #F7601D;
    text-decoration: underline;
}



/* FORM STYLES */
form {
    background: #000;
    padding-bottom: .5em
}
.form-group {
    padding-left: .75em;
}
form label {
    color: #DCB847;
    line-height: 2;
    width: 320px
}
form a {
    color: #DC0000;
}
#namefield, #namefield1, #namefield2, #city, #state { width: 50%;}
#emailfield, #emailfield1, #address, #urlfield {width: 60%;}
#zip, #length {width: 30%;}
#date {width: 50%;}
#commentfield {width: 90%;}



/* FOOTER AREA */
footer p {
    color: #fff;
}
footer a:hover {
    color: #999;
}
footer a:hover {
    color: #333;
}
footer a:visited {
    color: #666;
}